body {
  margin: 0;
  text-align: center;
}

.nav-bar-container {
  background-color: #154dbd;
  height: 50px;
  text-align: left;
}

.nav-btn {
  padding: 20px ;
  
}

.nav-btn a {
  color: white;
  font-family: serif;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}

.top-container{
    background-color: #8893a8;
    height: 200px;
    color: white;
}
.heading{
    margin: 0 auto;
    padding-top: 20px;
}
.p1{
    padding: 20px;
    margin: auto;
    width: 22%;
    text-align: left;
}