body {
  margin: 0;
  text-align: center;
}

.nav-bar-container {
  background-color: #154dbd;
  height: 50px;
  text-align: left;
}

.nav-btn {
  padding: 20px ;
  
}

.nav-btn a {
  color: white;
  font-family: serif;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}

.top-container{
    background-color: #bbbbbd;
    height: 200px;
    color: white;
}
.heading{
    margin: 0 auto;
    padding-top: 20px;
}
.p1{
    padding: 20px;
    margin: auto;
    width: 22%;
    text-align: left;
    
}
.middle-container{
    position: relative;
}

.middle-heading{
    color: blue;
    text-align: center;
   
    
}


.section-1{
    background-color: blue;
    color: white;
    width:30%;
    height: 200px;
    border-radius: 15px;
    text-align: left;
    padding: 0.5px ;
    margin: 20px 100px;
}
.section-1 h3{
    text-align: center;

}
.section-1 p{
    font-size: 0.7rem;
    margin-left: 1px;
    padding: 20px;
    
}

.section-1 a{
    color: white;
}

.section-2{
    background-color: blue;
    color: white;
    width:30%;
    height: 200px;
    border-radius: 15px;
    display: inline-block;
    position: absolute;
    margin-right: 10px;
}
.section-3{
    background-color: blue;
    color: white;
    width:30%;
    height: 200px;
    border-radius: 15px;
    
}
.section-4{
    background-color: blue;
    color: white;
    width:30%;
    height: 200px;
    border-radius: 15px;
    
}