body {
  margin: 0;
  text-align: center;
  position: relative;
  
}

.nav-bar-container {
  background-color: #154dbd;
  height: 50px;
  text-align: left;
  
}

.nav-btn {
  padding: 20px ;
  
}

.nav-btn a {
  color: white;
  font-family: serif;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
}

.top-container{
    background-color: #bbbbbd;
    height: 200px;
    color: white;
}
.heading{
    margin: 0 auto;
    padding-top: 20px;
}
.p1{
    padding: 20px;
    margin: auto;
    width: 22%;
    text-align: left;
    
}
 .middle-container{
   background-color: white;
   
}
.middle-container{
    position: relative;
}
.middle-heading{
    color: blue;
}
.section-1{
    border-radius: 15px;
    background-color: #154dbd;
    color: white;
    height: 200px;
    width: 500px;
    margin-left: 60px;
    text-align: left;
    
}
.section-1 h3{
    text-align: center;
    padding-top: 20px;
}
.section-1 p {
    width: 500px;
    padding: 15px 10px;
}
   
.section-2{
    
}